@charset "utf-8";

@forward "config/base";
@use "config/base" as bs;

#items {
    margin-bottom: 180px;

    @include bs.mq {
        margin-bottom: 100px;
    }

    .wrapper {

        .item-right, .item-left {
            
            .sec-title {
                
                @include bs.rl; // 縦書き l <- r
                
                .ja {
                    display: inline-block;
                    margin-bottom: 20px;
        
                    @include bs.mq {
                        margin-bottom: 0;
                        font-size: bs.rem(24);
                    }
                }
                .en {
                    display: inline-block;
        
                    @include bs.mq {
                        display: none;
                    }
                }
            }

            .item-box {
                margin-top: 107px;
                width: 64%;
                position: relative;

                @include bs.mq {
                    width: 90%;
                    margin-top: 75px;
                }

                .item-text {
                    color: bs.$white-color;
                    width: calc(50% + 20px);
                    text-align: center;
                    padding: 47px 0;
                    position: absolute;
                    bottom: -20px;

                    @include bs.mq {
                        width: calc(60% + 20px);
                        font-size: bs.rem(14);
                        padding: 27px 0;
                    }
                }
            }
        }
        
        .item-right {
            margin-bottom: 173px;

            @include bs.mq {
                margin-bottom: 95px;
            }
            
            .sec-title {
                margin-left: 20px;

                @include bs.mq {
                    margin-left: 10px;
                }
            }

            .item-box {

                .item-text {
                    background-color: rgba(bs.$item-color-1, 60%);
                    left: -20px;
                }
            }
        }

        .item-left {
            flex-direction: row;
            
            .sec-title {
                margin-right: 20px;

                @include bs.mq {
                    margin-right: 10px;
                }
            }

            .item-box {

                .item-text {
                    background-color: rgba(bs.$item-color-2, 60%);
                    right: -20px;
                }
            }
        }
    }
}