@charset "utf-8";

$bg-color: #E6E2D7;  // 全体の背景色
$font-color: #141414;  // 全体の文字色
$white-color: #fff;     // 白
$border-color: #000; // Newsの線の色
$button-border-color: #ccc; // オンラインストアボタンの線の色
$item-color-1: #f9e906;     // 商品1のテキストボックスの背景色
$item-color-2: #952a26;     // 商品2のテキストボックスの背景色
$footer-bg-color: #000; // footerの背景色